@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }


<div class="indexProductContainer">

    @if (Model.TopProductList != null)
    {
<h3>Our Top Selling Products</h3> foreach (var product in Model.TopProductList)
                {
<div class="indexProductDisplay">
    <a href="/Products/ProductPage/@product.Title">
        <div>
            <img class="indexProductDisplayImage" src="@product.FilePath" />
            <p class="indexProductDisplayText">@product.Title</p>
            <p class="indexProductDisplayText">$ @product.Price</p>
        </div>
    </a>
</div>}
}
    <br style="clear: both;" />
    <br />
    <br />
    @if (Model.TrendingProductList != null)
    {
<h3>Our Top Trending Products</h3> foreach (var product in Model.TrendingProductList)
                {
<div class="indexProductDisplay">
    <a href="/Products/ProductPage/@product.Title">
        <div>
            <img class="indexProductDisplayImage" src="@product.FilePath" />
            <p class="indexProductDisplayText">@product.Title</p>
            <p class="indexProductDisplayText">$ @product.Price</p>
        </div>
    </a>
</div>}
}
    <br style="clear: both;" />
