@page "{id}"
@model WebStore.Pages.Admin.Products.ProductDetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<div style="margin-bottom: 2.5%">
    <form style="float:right; padding-right: 10px;" action="/Admin/Products/ProductEdit/@Model.Input.ProductModel.Id">
        <input type="submit" value="Edit Product" />
    </form>
    <form style="float:right; padding-right: 10px;" action="/Admin/Products/ProductDelete/@Model.Input.ProductModel.Id">
        <input type="submit" value="Delete Product" />
    </form>
    <form style="float:right; padding-right: 10px;" action="/Admin/Products/AllProducts">
        <input type="submit" value="Return To Product List" />
    </form>
    <h2>Product details</h2>
</div>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <td>
            @Model.Input.ProductModel.Id
        </td>
    </tr>
    <tr>
        <th>
            Title
        </th>
        <td>
            @Model.Input.ProductModel.Title
        </td>
    </tr>
    <tr>
        <th>
            Description
        </th>
        <td>
            @if (Model.DescriptionList != null)
            {
                @foreach (var item in Model.DescriptionList)
                {
                    @item
                    <br />
                }
            }
        </td>
    </tr>
    <tr>
        <th>
            Additional Information
        </th>
        <td>
            @if (Model.AdditionalInformationList != null)
            {
                @foreach (var item in Model.AdditionalInformationList)
                {
                    @item
                    <br />
                }
            }

        </td>
    </tr>
    <tr>
        <th>
            Price
        </th>
        <td>
            @Model.Input.ProductModel.Price
        </td>
    </tr>
    <tr>
        <th>
            Photo 1
        </th>
        <td>
            <img src="@Model.Input.ProductModel.FilePath" />
        </td>
    </tr>
    <tr>
        <th>
            Photo 2
        </th>
        <td>
            <img src="@Model.Input.ProductModel.FilePath2" />
        </td>
    </tr>
    <tr>
        <th>
            Photo 3
        </th>
        <td>
            <img src="@Model.Input.ProductModel.FilePath3" />
        </td>
    </tr>
    <tr>
        <th>
            Photo 4
        </th>
        <td>
            <img src="@Model.Input.ProductModel.FilePath4" />
        </td>
    </tr>
    <tr>
        <th>
            Photo 5
        </th>
        <td>
            <img src="@Model.Input.ProductModel.FilePath5" />
        </td>
    </tr>
</table>